@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Nunito:wght@300;400;900&display=swap');
/* 
font-family: 'Irish Grover', cursive;
font-family: 'Nunito', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Irish Grover', cursive;
    font-size: 2.5rem;
    margin-bottom: .3em;
}

a {
    text-decoration: none;
}

main {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

footer {
    margin: 1rem 0;
}

.container,
.row {
    display: flex;

}

.row {
    justify-content: space-evenly;
}

/* navbar styling */

.nav {
    position: fixed;
    width: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, .8);
    justify-content: space-between;

}

.nav-list {
    list-style: none;
    display: none;
}

.nav-item {
    padding: .3em;

}

.logo,
.nav-link {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.logo-icon {
    background-image: url(../images/pride-flag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.burger {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    width: 40px;
    height: 35px;
}

.burger:hover {
    cursor: pointer;
}

.burger-bar {
    width: 70%;
    height: 3px;
    background-color: #000;
    border-radius: 3px;
    margin: .5em auto;
}

#burger-menu {
    font-size: 1.25em;
}

/* hero image and header styling */

.hero {
    padding: 5em 0 1em 0;
    font-weight: 900;

}

.hero-img {
    background-image: linear-gradient(rgba(255, 255, 255, 3),
            rgba(0, 0, 0, .3)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;
}

.hero-text {
    width: 90%;
    margin: 0 auto;
}

.intro-text {
    font-size: 1.125rem;
}

/* main content styling */

.main-info {
    margin: 2em auto;
    line-height: 1.5;
}

.main-info-tile,
.weeklies,
.specials {
    margin-bottom: 2em;
    padding: 1em;
    border: rgba(46, 0, 225, 0.3) solid 2px;
    border-radius: 4px;
    text-align: justify;

}

.main-info-heading {
    margin-bottom: .5em;
    text-align: center;
}

.gallery {
    flex-direction: column;
    gap: 1rem;
}

.main-info-image {
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(46, 0, 225, .4);
}

/* footer styling */

.social-link {
    margin: 1em 0;
}

.social-link:hover {
    transform: scale(1.2);
    transition: ease-in-out;
}

.social-icon {
    font-size: 2rem;
    color: rgba(46, 0, 225, 0.7);
}

/* rule section styling */

.rules-heading {
    margin-bottom: .5em;
}

.rules-list {
    text-align: justify;
    width: 90%;
    margin: 2em auto;
    line-height: 1.5;

}

.rules-list-item {
    margin: .8em 0;
}

.rules-list-item strong {
    margin-bottom: 5em;
    border-bottom: 2px solid rgba(46, 0, 225, 0.2);

}

.rules-image {
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
}


/* events page styling */

/* events table */

td,
th {
    border-bottom: dotted 1px rgba(46, 0, 225, 0.7);
}

td {
    width: 10px;
}

th {
    font-size: 1.1rem;
    padding: 0 .2em .5em 0;
}

th+th,
td+td {
    border-left: dotted 1px rgba(46, 0, 225, 0.7);

}

.events-table {
    margin: 2rem auto;
}

.table-caption {
    font-size: 1.3rem;
    text-decoration: underline;
    margin-bottom: .5em;
}

.table-heading {
    padding-left: .4em;
}

.week-nr {
    font-weight: 700;
}

.table-entry {
    padding: .2em;
    background-color: rgba(46, 0, 225, 0.2);
    box-shadow: 0px 0px 8px rgba(46, 0, 225, .4);
}

/* events listings */

.events-details {
    margin: 2rem .2rem;
}

.weeklies,
.specials {
    margin-top: .5em;
}

.weekly+.weekly {
    margin-top: 1.5em;
}

.specials-list {
    list-style: none;
}

.specials-list-item {
    margin-top: 1em;
}

.event-image {
    width: 100%;
    margin: 2em auto;
    border-radius: 4px;

}

/* media queries */

@media (min-width: 540px) {
    .nav-list {
        display: flex;
    }
}

/* possible box-shadow for rule set:
box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
credit: https://getcssscan.com/css-box-shadow-examples */